<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelmate">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".map_nearby_activity"></activity>
        <activity android:name=".atm_activity" />

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity android:name=".mytrip_activity" />
        <activity android:name=".userprofile_activity" />
        <activity android:name=".map_2_activity" />
        <activity android:name=".NearByPlacesActivity" />
        <activity android:name=".weatheractivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCOggg7f0D3iWZOQSLOKbo0BWrbQ9Y6ymw" />

        <activity android:name=".map_activity" />
        <activity android:name=".TouristPlace_activity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Register2Activity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>